*, html{
  box-sizing: border-box;
}

h1 {
    font-size: 50px;
    color: white;
    text-align: center;
    background-color: #3f4042;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0px;
}

nav>ul>li {
    display: inline;
    background-color: silver;
    font-size: 40px;
}

nav>ul>li>a{
    color: white;
    text-decoration: none;
    margin-top: 1px;
    padding-top: 1px;
}

nav {
    text-align: center;
    margin-top: 0px;
    padding-top: 0px;
}

ul {
    list-style-type: none;
    display: inline-block;
    margin-top: 1px;
}

footer>h6 {
    text-align: center;
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 20px;
}

.picture_count>h2{
  background-color: #7cffac;
}

.picture_section>figure {
    display: inline-block;
    margin: auto;
    margin-bottom: 5px;
}


section.Modify_Picture {
    background-color: #ffc62b;
    text-align: center;

}

strong{
  text-decoration: underline;
}

main {
    max-width: 1080px;
    margin: auto;
}
