h1 {
    font-size: 50px;
    color: white;
    text-align: center;
    background-color: #3f4042;
}

nav>ul>li {
    display: inline;
    background-color: silver;
    font-size: 40px;
}

nav>ul>li>a{
    color: white;
    text-decoration: none;
}

nav {
    text-align: center;
}

ul {
    list-style-type: none;
    display: inline-block;
}
